body{
    margin: 0;
}
.header{
    background-color: rgb(247, 188, 111);
    height: 45px;
    width: 100%;
    padding: 22px 0 16px 0;
    margin: auto;
    flex-direction: row;
    text-align: center;
    font-size: 28px;
}
.vl{
    border-left: 3px solid black;
    height: 35px;
    margin: 0 15px 0 10px;
}
.vl1{
    border-left: 3px solid black;
    height: 665px;
    margin: 120px 0 0 0;
}
.parent{
    display: flex;
    height: 900px;
}
.parent1{
    display: flex;
}
.mainSection{
    background-color: rgb(73, 126, 172);
    width: 75%;
}
.sideBar{
    background-color: aquamarine;
    width: 25%;
}
.profilepic{
    height: 300px;
    width: 250px;
    margin: 100px 0 0 70px;
}
.introtext{
    margin: 60px 40px 0 100px;
}
ul{
    font-size: 30px;
}
li{
    margin: 15px 0 15px 0;
}
a{
    color: black;
    text-decoration: none;
}
.skills{
    margin: 35px 0 25px 20px;
}
.skillsTitle{
    margin-top: 60px;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}